In [15]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests
import os
import pandas as pd

In [16]:
filepath = os.path.join('NewsMarsExplorationProgram.html')
with open(filepath, encoding='utf-8') as file:
    html = file.read()

In [17]:
chrome_driver = "/Users/patba/Desktop/ChromeDriver/chromedriver"
executable_path = {'executable_path': chrome_driver}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
mars_url = 'https://redplanetscience.com/'
browser.visit(mars_url)

In [19]:
mars_html = browser.html
mars_soup = bs(mars_html, 'html.parser')

In [20]:
# get latest news title
news_title = mars_soup.find('div', class_='content_title').get_text()
print('The latest news title is: ' + news_title)

The latest news title is: NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

In [21]:
# get paragraph text from the latest news article
news_p = mars_soup.find('div', class_='article_teaser_body').get_text()
print(news_p)

Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

In [22]:
browser.quit()

In [12]:
# SPACE IMAGES FROM MARS
executable_path = {'executable_path': chrome_driver}
browser = Browser('chrome', **executable_path, headless=False)
space_url = 'https://spaceimages-mars.com'
browser.visit(space_url)

In [13]:
space_html = browser.html
space_soup = bs(space_html, 'html.parser')

In [14]:
# find featured image 
featured_img = space_soup.find('img', class_='headerimage fade-in').get('src')
print(featured_img)

image/featured/mars1.jpg

In [12]:
# assign featured img to url string
featured_img_url = f'{space_url + featured_img}'
featured_img_url

'https://spaceimages-mars.comimage/featured/mars2.jpg'

In [13]:
browser.quit()

In [55]:
# MARS FACTS
executable_path = {'executable_path': chrome_driver}
browser = Browser('chrome', **executable_path, headless=False)
mars_facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(mars_facts_url)

In [54]:
# not needed
#mars_facts_html = browser.html
#mars_facts_soup = bs(mars_facts_html, 'html.parser')

In [56]:
# scrape mars facts table
planet_facts_dfs = pd.read_html(mars_facts_url)
planet_facts_dfs

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [57]:
# mars facts df
mars_df = planet_facts_dfs[1]
mars_df.rename(columns={0 : "Properties", 1 : "Mars Facts"}).set_index("Properties")

                                         Mars Facts
Properties
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [58]:
# mars earth comparison df
earth_mars_df = planet_facts_dfs[0]
earth_mars_df = earth_mars_df.rename(columns={0 : "Properties", 1 : "", 2 : ""}).set_index("Properties")

In [59]:
earth_mars_df

Properties
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [60]:
browser.quit()

In [21]:
# MARS HEMISPHERE
executable_path = {'executable_path': chrome_driver}
browser = Browser('chrome', **executable_path, headless=False)
mars_hemi_url = 'https://marshemispheres.com/'
browser.visit(mars_hemi_url)

In [22]:
mars_hemi_html = browser.html
mars_hemi_soup = bs(mars_hemi_html, 'html.parser')

In [23]:
# get links to enhanced images
links = []
for h in mars_hemi_soup.find_all('a', class_='itemLink product-item'):
    if h not in links:
        links.append(h.get('href'))

In [24]:
# get titles of imgs
titles = []
for h in mars_hemi_soup.find_all('h3'):
    if h not in titles:
        titles.append(h.get_text())

In [26]:
# check link list
links[0]

'cerberus.html'

In [27]:
# assign featured img to url string - hemisphere urls
mars_img_A = f'{mars_hemi_url + links[0]}'
mars_img_B = f'{mars_hemi_url + links[2]}'
mars_img_C = f'{mars_hemi_url + links[4]}'
mars_img_D = f'{mars_hemi_url + links[6]}'

print(mars_img_A + "\n" + mars_img_B + "\n" + mars_img_C + "\n" + mars_img_D)

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [28]:
# mars hemisphere img titles
mars_title_A = titles[0]
mars_title_B = titles[1]
mars_title_C = titles[2]
mars_title_D = titles[3]
print(mars_title_A + "\n" + mars_title_B + "\n" + mars_title_C + "\n" + mars_title_D)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [29]:
# mars hemi img list
hemi_img_urls = [
    {"title": mars_title_A, "url": mars_img_A},
    {"title": mars_title_B, "url": mars_img_B},
    {"title": mars_title_C, "url": mars_img_C},
    {"title": mars_title_D, "url": mars_img_D}
]

In [30]:
hemi_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'url': 'https://marshemispheres.com/schiaparelli.html'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'url': 'https://marshemispheres.com/syrtis.html'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'url': 'https://marshemispheres.com/valles.html'}]

In [31]:
# create dict for mars hemisphere images
hemi_img_dict = {'title': [mars_title_A, mars_title_B, mars_title_C, mars_title_D],
                'url': [mars_img_A, mars_img_B, mars_img_C, mars_img_D]}
hemi_img_dict

{'title': ['Cerberus Hemisphere Enhanced',
  'Schiaparelli Hemisphere Enhanced',
  'Syrtis Major Hemisphere Enhanced',
  'Valles Marineris Hemisphere Enhanced'],
 'url': ['https://marshemispheres.com/cerberus.html',
  'https://marshemispheres.com/schiaparelli.html',
  'https://marshemispheres.com/syrtis.html',
  'https://marshemispheres.com/valles.html']}

In [32]:
browser.quit()

In [33]:
# create dictionaries - earth mars comparison
earth_mars_dict = earth_mars_df.T.to_dict('list')
earth_mars_dict

{'Mars - Earth Comparison': ['Mars', 'Earth'],
 'Diameter:': ['6,779 km', '12,742 km'],
 'Mass:': ['6.39 × 10^23 kg', '5.97 × 10^24 kg'],
 'Moons:': ['2', '1'],
 'Distance from Sun:': ['227,943,824 km', '149,598,262 km'],
 'Length of Year:': ['687 Earth days', '365.24 days'],
 'Temperature:': ['-87 to -5 °C', '-88 to 58°C']}

In [34]:
# created feature img dict
feature_img_dict = {"title": "Featured Mars Image",
                   "url": featured_img_url}

In [36]:
# create latest news dict
new_news_dict = {'title': [news_title],
                'summary': [news_p]}
new_news_dict

{'title': ["NASA's Mars 2020 Heads Into the Test Chamber"],
 'summary': ['In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.']}

In [37]:
# compile dictionaries to one dictionary - dicitonary of dictionary - 
mars_dict = {'news': new_news_dict,
            'feat_img': feature_img_dict,
            'mars_facts': earth_mars_dict,
            'hemi_img': hemi_img_dict}